.slide_container {
  background-color: #ffffff41;
  width: 19rem;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList {}

.item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  font-size: 1.5rem;
}