.main_container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
}

.section_box {
  width: 15rem;
  height: 15rem;
  background-color: #ffffff87;
}

.account_box {
  /* flex: 0 0 10rem; */
  align-self: flex-end;
}

.account_icon {
  transition: all 200ms ease;
}

.account_icon:hover {
  cursor: pointer;
  color: #8f8f8f;
}