.main_container {
  height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section_box {
  width: 100%;
  padding: 0.5rem 1rem;
  /* height: 15rem; */
  background-color: #ffffff87;
}

.account_box {
  /* flex: 0 0 10rem; */
  align-self: flex-end;
}

.account_icon {
  transition: all 200ms ease;
}

.account_icon:hover {
  cursor: pointer;
  color: #8f8f8f;
}

.myLocationPaper {
  flex: 0;
}

.myLocation_wrapper {
  display: flex;
  align-items: center;
}

.myLocation {
  width: 40%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.myLocation_info {}

.searchBar {
  background-color: #fff;
  border: 1px solid #b7b7b7;
  border-radius: 0.7rem;
  padding: 0.2rem 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.search_icon {
  transform: scale(1.2);
}

.search_input {
  border: none;
  padding: 0.2rem 0.3rem;
  font-size: 1.2rem;
  outline: none;
}

.vicinity_paper {
  height: 100%;
  flex: 1;
}

.vicinity {}



.transport_status {
  display: flex;
  height: 100%;
}

.info_box {
  width: 50%;
  height: 100%;
  padding: 1rem;
  padding-top: 2rem;
}

.bus_info {
  border-right: 2px solid #00000032;
}

.info_box>h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.rank_list {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rank_item {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}



.rank_item .number {
  flex: 0 0 15%;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  padding: 0.7rem 0.3rem;
  border-radius: 1rem;
}

.rank_item .name {
  font-size: 1.7rem;
  padding: 1rem;
  flex: 0 0 30%;
}

.rank_item .status {
  font-size: 2rem;
  color: rgb(78, 196, 255);
  font-weight: bold;
  padding: 1rem;
  flex: 0 0 30%;
}