.header {
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid #00000057;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title_box {
  flex: 1;
}

.title_box h1 {
  font-size: 1.5rem;
  font-weight: bold;
}